<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Enterprise Suite" parallel="tests" thread-count="2" verbose="1">

  <listeners>
    <listener class-name="listeners.SeleniumListener"/>
    <listener class-name="listeners.AnnotationTransformer"/>
    <listener class-name="listeners.MethodInterceptor"/>
    <listener class-name="listeners.TestExecutionListener"/>
  </listeners>

  <test name="UI Tests - Chrome">
    <parameter name="browser" value="chrome"/>
    <groups><run><include name="SANITY"/></run></groups>
    <classes>
      <class name="ui.testcases.RegisterUserTest"/>
      <class name="ui.testcases.LoginWithvaliduserTest"/>
      <class name="ui.testcases.ValidateValidTest"/>
    </classes>
  </test>

  <test name="API Tests">
    <classes>
      <class name="apitest.GetAllProductsList"/>
      <class name="apitest.MockServicesTest"/>
      <class name="apitest.ValidateAbletoSearchProductsTest"/>
      <class name="apitest.ValidateDataProviderTest"/>
      <class name="etihad.api.testcases.SearchFlightWithFlightNoTest"/>
    </classes>
  </test>

</suite>